# ==============================================================================
# ALGEBRIC MODELING LANGUAGE (AML)
# ==============================================================================
pyomo==6.10.1

# =================================================================================
# OPTIMIZATION ENGINE (Strict Pinning to ensure deterministic executions overtime)
# =================================================================================
gurobipy==13.0.3

# ====================================================================================
# DATA ENGINEERING AND VISUALIZATION (Compatible Release to avoid Colab's conflicts)
# ====================================================================================
pandas==2.2.3
numpy>=1.24,<2.3
matplotlib~=3.11.1
