# ==============================================================================
# ALGEBRIC MODELING LANGUAGE (AML)
# ==============================================================================
pyomo==6.10.1

# =================================================================================
# OPTIMIZATION ENGINE (Strict Pinning to ensure deterministic executions overtime)
# =================================================================================
gurobipy==13.0.3

# ====================================================================================
# DATA ENGINEERING AND VISUALIZATION (Compatible Release to avoid Colab's conflicts)
# ====================================================================================
pandas~=3.0.5
numpy~=1.26.4
matplotlib~=3.11.1
